{% extends "layout.html" %}
{% block content %}
    <h1>Aplikacja webowa - Task Manager</h1>
    <h4>Zarządzaj swoimi zadaniami w prosty sposób!</h4>
    Nazywamy się Dominik Patrzek i Krzysztof Śródka. Stworzyliśmy tę aplikację, 
    aby w prosty sposób móc zorganizować swoje obowiązki. Jest to projekt na zaliczenie przedmiotu 
    "Języki skryptowe". W procesie tworzenia tej aplikacji webowej nabyliśmy wiele nowych umiejętności,
    takich jak korzystanie z githuba, kontrola wersji, współpraca przy jednym projekcie, podział obowiązków,
    korzystanie z flaska oraz innych bibliotek pythona, jak i podstaw html'a css'a, bootstrapa, javascriptu, ... <br> 
    Mamy nadzieję, że aplikacja się podoba :) 
{% endblock content %}